* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif; /* Appliquer la police Roboto à toute l'application */
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

h1,
h2,
h3 {
  font-weight: 500; /* Texte plus épais pour les titres */
}

p,
span {
  font-weight: 300; /* Texte plus léger pour les paragraphes */
}
input {
  height: 2.5rem;
  border: none;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  padding-inline: 1rem;

  &.invalid {
    border: 2px solid red;
  }
}

select {
  height: 2.5rem;
  border: none;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  padding-inline: 1rem;
  cursor: pointer;
}

button {
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.btn-1 {
    background-color: black;
    color: white;
  }
  &.btn-2 {
    background-color: white;
    color: black;
  }

  &:hover {
    opacity: 0.8;
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.warning-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 20%;
  padding: 1rem;
  color: white;

  &.succes {
    background-color: rgb(77, 147, 77);
  }
  &.error {
    background-color: rgb(239, 72, 72);
  }
}

$i: 0;
@while $i < 100 {
  $i: $i + 1;
  .gap-#{$i} {
    gap: #{$i}#{"rem"};
  }

  .gap-0#{$i} {
    gap: #{"0." + $i + "rem"};
  }

  .w-#{$i} {
    width: #{$i}#{"%"};
  }
}

.badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1rem;
  background-color: rgb(86, 134, 86);
  color: white;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;

  p {
    font-size: 0.7rem;
    white-space: pre;
  }

  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    img {
      height: 7px;
    }
  }
}
